@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
:root {
    --main-color: #38B6FF;
    --dropdown-hover-color: #0000000f;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: white;
  }

::-webkit-scrollbar-thumb {
    background: var(--main-color);
    border-radius: 30px;
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

div, main, header, footer {
    display: flex;
}

ul, li, ol {
    list-style: none;
}

a {
    text-decoration: none;
}

input, textarea, select, button {
    border: none;
    outline: none;
}

img {
    max-width: 100%;
}

#layout {
    width: 100%;
    height: fit-content;
    min-height: 100vh;
    flex-direction: column;
    background-image: url(../resources/images/home-background.png);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#back-to-top {
    position: fixed;
    bottom: 30px;
    right: 30px;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-image: linear-gradient(to right, #4facfe 0%, #00f2fe 100%);
    color: white;
    font-size: 20px;
    z-index: 999;
    opacity: 0;
    visibility: hidden;
    transition: 0.3s;
}

#back-to-top.active {
    opacity: 1;
    visibility: visible;
}