#sign-in {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1002;
    width: 500px;
    background-color: white;
    border-radius: 10px;
    opacity: 0;
    visibility: hidden;
    transition: 0.3s;
}

#sign-in.active {
    opacity: 1;
    visibility: visible;
}

#sign-in #close-sign-in {
    position: absolute;
    top: 8px;
    right: 10px;
    font-size: 30px;
    cursor: pointer;
    color: #4facfe;
}

#sign-in .sign-in-form {
    width: 100%;
    display: flex;
}

#sign-in .sign-in-form .sign-in-form-content {
    width: 100%;
    flex-direction: column;
    row-gap: 20px;
    padding: 25px;
}

#sign-in .sign-in-form .sign-in-form-content .logo {
    display: flex;
    align-items: center;
    column-gap: 10px;
    font-size: 25px;
    font-weight: 900;
    color: black;
}

#sign-in .sign-in-form .sign-in-form-content .logo img {
    width: 40px;
    height: 40px;
}

#sign-in .sign-in-form .sign-in-form-content .logo span {
    color: var(--main-color);
}

#sign-in .sign-in-form .sign-in-form-content .title {
    width: 100%;
    flex-direction: column;
    align-items: center;
    row-gap: 5px;
    margin-bottom: 20px;
}

#sign-in .sign-in-form .sign-in-form-content .title h2 {
    font-size: 30px;
    font-weight: 900;
    text-transform: capitalize;
    color: black;
}

#sign-in .sign-in-form .sign-in-form-content .title span {
    font-size: 15px;
    font-weight: 400;
    color: black;
}

#sign-in .sign-in-form .sign-in-form-content .form {
    flex-direction: column;
    row-gap: 20px;
}

#sign-in .sign-in-form .sign-in-form-content .form .form-item {
    position: relative;
    width: 100%;
    height: 45px;
    background-color: transparent;
    border-radius: 8px;
    column-gap: 10px;
}

#sign-in .sign-in-form .sign-in-form-content .form .form-item label {
    position: absolute;
    top: -10px;
    left: 10px;
    background-color: white;
    padding: 2px 5px;
    font-size: 13px;
    font-weight: 500;
    color: var(--main-color);
    border-radius: 3px;
    display: flex;
    align-items: center;
    column-gap: 5px;
}

#sign-in .sign-in-form .sign-in-form-content .form .form-item input {
    width: 100%;
    height: 100%;
    background-color: transparent;
    border-radius: 8px;
    padding: 0 15px;
    border: 1px solid #38b6ff94;
    transition: 0.1s ease;
    font-size: 15.5px;
}

#sign-in .sign-in-form .sign-in-form-content .form .form-item input::placeholder {
    font-size: 13px;
    font-weight: 300;
}

#sign-in .sign-in-form .sign-in-form-content .form .form-item input:focus {
    border: 2px solid var(--main-color);
}

#sign-in .sign-in-form .sign-in-form-content .form .form-item .error {
    display: flex;
    flex-direction: column;
    white-space: nowrap;
    position: absolute;
    left: calc(100% + 15px);
    top: 50%;
    transform: translateY(-50%);
    background-color: white;
    box-shadow: 0 0 5px 0 #80808042;
    padding: 6px 10px;
    border-radius: 5px;
    display: none;
}

#sign-in .sign-in-form .sign-in-form-content .form .form-item .error::before {
    content: '';
    position: absolute;
    top: 50%;
    left: -8.5px;
    background-color: white;
    box-shadow: -2px 2px 2px 0px #80808024;
    width: 10px;
    height: 10px;
    transform: rotate(45deg) translateY(-50%);
}

#sign-in .sign-in-form .sign-in-form-content .form .form-item .error li {
    width: fit-content;
    font-size: 12.5px;
    font-weight: 400;
    list-style: circle;
    margin-left: 15px;
    color: #ff3838;
}

#sign-in .sign-in-form .sign-in-form-content .form .form-item .show-hide-password {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 10px;
    width: 20px;
    height: 20px;
    cursor: pointer;
}

#sign-in .sign-in-form .sign-in-form-content .form .form-item .show-hide-password .show,
#sign-in .sign-in-form .sign-in-form-content .form .form-item .show-hide-password .hide {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#sign-in .sign-in-form .sign-in-form-content .form .form-item .show-hide-password .hide {
    display: none;    
}

#sign-in .sign-in-form .sign-in-form-content .form .form-item .show-hide-password .show svg,
#sign-in .sign-in-form .sign-in-form-content .form .form-item .show-hide-password .hide svg {
    font-size: 15.5px;
    color: var(--main-color);
}

#sign-in .sign-in-form .sign-in-form-content .remember-and-forgot {
    justify-content: space-between;
    align-items: center;
}

#sign-in .sign-in-form .sign-in-form-content .remember-and-forgot .remember {
    white-space: nowrap;
}

#sign-in .sign-in-form .sign-in-form-content .remember-and-forgot .remember label {
    display: flex;
    cursor: pointer;
    font-size: 13.5px;
    align-items: center;
    column-gap: 5px;
    font-weight: 300;
}

#sign-in .sign-in-form .sign-in-form-content .remember-and-forgot .remember label a {
    font-weight: 500;
    color: var(--main-color);
}

#sign-in .sign-in-form .sign-in-form-content .remember-and-forgot .remember label::before {
    content: '';
    width: 13.5px;
    height: 13.5px;
    border-radius: 3px;
    border: 1px solid var(--main-color);
}

#sign-in .sign-in-form .sign-in-form-content .remember-and-forgot .remember input[type='checkbox'] {
    cursor: pointer;
    opacity: 0;
    position: absolute;
}

#sign-in .sign-in-form .sign-in-form-content .remember-and-forgot .remember input[type='checkbox']:checked + label::before {
    content: '\1F5F8';
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--main-color);
    color: white;
    font-size: 13.5px;
}

#sign-in .sign-in-form .sign-in-form-content .remember-and-forgot .forgot-password {
    font-size: 13.5px;
    font-weight: 500;
    color: black;
}

#sign-in .sign-in-form .sign-in-form-content #sign-in-button-form {
    padding: 10px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 5px;
    font-size: 17px;
    font-weight: 900;
    text-transform: capitalize;
    cursor: pointer;
    background-image: linear-gradient(to right, #4facfe 0%, #00f2fe 100%);
    color: white;
}

#sign-in .sign-in-form .sign-in-form-content .do-not-have-an-account {
    align-items: center;
    column-gap: 5px;
    font-size: 14px;
}

#sign-in .sign-in-form .sign-in-form-content .do-not-have-an-account span {
    font-weight: 500;
    color: var(--main-color);
    cursor: pointer;
}

#sign-in .sign-in-form .sign-in-form-content .line-other-sign-in-methods {
    width: 320px;
    align-self: center;
    height: 1px;
    background-color: var(--main-color);
    position: relative;
    margin: 15px 0;
}

#sign-in .sign-in-form .sign-in-form-content .line-other-sign-in-methods span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    padding: 0 15px;
    font-size: 14px;
    font-weight: 500;
    color: var(--main-color);
}

#sign-in .sign-in-form .sign-in-form-content .other-sign-in-methods {
    width: 100%;
    flex-wrap: wrap;
    gap: 15px;
}

#sign-in .sign-in-form .sign-in-form-content .other-sign-in-methods .other-sign-in-methods-item {
    flex-basis: calc(50% - 7.5px);
    column-gap: 8px;
    background-color: white;
    border: 1px solid #38b6ff94;
    height: 42px;
    border-radius: 5px;
    cursor: pointer;
    padding: 0 10px;
    align-items: center;
    font-size: 14px;
}

#sign-in .sign-in-form .sign-in-form-content .other-sign-in-methods .other-sign-in-methods-item img {
    width: 27px;
    height: 27px;
}