#slider {
    width: 100%;
    height: calc(100vh - 180px);
    padding: 0 50px;
}

#slider .swiper {
    width: 100%;
    height: 100%;
    background-color: white;
    border-radius: 10px;
}

.swiper-slide.swiper-slide-active {
    width: 100%;
    height: 100%;
    display: flex;
    padding: 0 70px;
}

.swiper-slide.swiper-slide-active video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.swiper-slide.swiper-slide-active .swiper-slide-content {
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    row-gap: 30px;
    z-index: 1;
}

.swiper-slide.swiper-slide-active .swiper-slide-content .swiper-slide-content-title {
    flex-direction: column;
}

.swiper-slide.swiper-slide-active .swiper-slide-content .swiper-slide-content-title h1 {
    font-size: 45px;
    letter-spacing: 5px;
    font-weight: 300;
    color: var(--main-color);
    margin-bottom: 10px;
}

.swiper-slide.swiper-slide-active .swiper-slide-content .swiper-slide-content-title h2 {
    font-size: 55px;
    text-transform: uppercase;
    font-weight: 500;
    color: white;
    letter-spacing: 2px;
}

.swiper-slide.swiper-slide-active .swiper-slide-content a {
    width: fit-content;
    padding: 12px 20px;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 8px;
    font-size: 15px;
    font-weight: 500;
    text-transform: uppercase;
    cursor: pointer;
    background-image: linear-gradient(to right, #4facfe 0%, #00f2fe 100%);
    color: white;
}

.swiper-slide.swiper-slide-active .swiper-slide-content p {
    font-size: 18px;
    font-weight: 300;
    color: white;
    text-align: justify;
    max-width: 400px;
}

.swiper-button-prev, 
.swiper-button-next {
    width: 40px !important;
    height: 40px !important;
    border-radius: 50%;
    border: 2px solid var(--main-color);
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--main-color) !important;
}

.swiper-button-prev::after, 
.swiper-button-next::after {
    display: none;
}

.swiper-pagination {
    justify-content: center;
    align-items: center;
    column-gap: 10px;
}

.swiper-pagination .swiper-pagination-bullet {
    width: 80px;
    height: 4px;
    border-radius: 2px;
    background-image: linear-gradient(to right, #4facfe 0%, #00f2fe 100%);
}